/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/colors.css";
@import "variables-site/structure.css";
@import "variables-site/typography.css";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize.css/normalize.css";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "site/base.css";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography.css";
@import "typography/headings.css";
@import "typography/copy.css";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/lists.css";
@import "elements/tables.css";
@import "elements/elements.css";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/buttons.css";
@import "forms/fields.css";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/links.css";
@import "navigation/menus.css";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility.css";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments.css";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings.css";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site-header.css";
@import "site/site-content.css";
@import "site/site-footer.css";
@import "site/comments.css";
@import "site/meta.css";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll.css";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media.css";
@import "media/captions.css";
@import "media/galleries.css";

/*--------------------------------------------------------------
# Blocks
--------------------------------------------------------------*/
@import "blocks/wp-block-cover.css";
@import "blocks/wp-block-gallery.css";
