button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid var( --color__border-button );
	border-radius: 3px;
	background: var( --color__background-button );
	color: var( --color__white );
	line-height: 1;
	padding: .5em 1em;

	&:hover {
		border-color: var( --color__border-button-hover );
	}

	&:active,
	&:focus {
		border-color: var( --color__border-button-focus );
	}
}
