input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	padding: .375em .625em;
	color: var( --color__text-input );
	border: 1px solid var( --color__border-input );
	box-shadow: inset 0 1px 3px rgba( 0, 0, 0, .15 );
	border-radius: 3px;

	&:focus {
		color: var( --color__text-input-focus );
	}
}

select {
	border: 1px solid var( --color__border-input );
}

textarea {
	width: 100%;
}
