.wp-caption-text {
	text-align: center;
}

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.wp-caption-text {
		margin: .8075em 0;
	}
}
