p {
	margin: 0 0 1.25em 0;
}

blockquote,
dfn,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 0 1.25em 0;
}

cite {
	font-style: normal;
	font-size: .875rem;
	color: rgba( var( --color__black ), .6 );
}

address {
	margin: 0 0 1.25em;
}

pre {
	background: var( --color__background-pre );
	font-family: var( --font__pre );
	font-size: .9375rem;
	line-height: var( --font__line-height-pre );
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: var( --font__code );
	font-size: .9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted var( --color__border-abbr );
	cursor: help;
}

mark,
ins {
	background: var( --color__background-ins );
	text-decoration: none;
}

big {
	font-size: 125%;
}
