h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

h1 {
	font-size: calc( 1.25rem + 2.5vw );
	line-height: 1.25;

	@media screen and ( min-width: 800px ) {
		font-size: 2.5em;
	}
}

h2 {
	font-size: calc( 1.125rem + 1.5vw );
	line-height: 1.25;

	@media screen and ( min-width: 800px ) {
		font-size: 1.75em;
	}
}

h3 {
	font-size: calc( 1.125rem + .75vw );
	line-height: 1.25;

	@media screen and ( min-width: 800px ) {
		font-size: 1.5em;
	}
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
}
