blockquote,
q {
	quotes: "" "";

	&::before,
	&::after {
		content: "";
	}
}

hr {
	background-color: var( --color__background-hr );
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	display: block;
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0; /* Extra wide images within figure tags don't overflow the content area. */
}
