table {
	margin: 0 0 1.25em;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	th,
	td {
		padding: .375rem .625rem;
		vertical-align: top;
		border: 1px solid rgba( 0, 0, 0, .1 );
	}
}
